src/test/resources/testschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/testschema/" targetNamespace="http://www.example.org/testschema/" elementFormDefault="qualified">
    <complexType name="messagetype">
    	<sequence>
    		<element name="subject" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="body" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    	<attribute name="timestamp" type="dateTime"></attribute>
    </complexType>
    <element name="message" type="tns:messagetype"></element>
</schema>